$max: 100%;

@media (max-width: 8000px) {
  .add {
    height: 80px;

    & input {
      height: 50px;
      width: $max;
      font-size: 23px;
      max-width: 300px;
    }

    & button {
      width: 80px;
    }
  }
}

@media (max-width: 420px) {
  .add {
    height: 80px;

    & input {
      height: 50px;
      width: $max;
      font-size: 23px;
      max-width: 250px;
    }

    & button {
      width: 80px;
    }
  }
}

@media (max-width: 300px) {
  .add {
    height: 60px;

    & input {
      font-size: 12px;
      height: 40px;
      width: $max;
      max-width: 150px;
    }

    & button {
      width: 60px;
    }
  }
}

.add {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: $max;
  max-width: 450px;
  margin: 15px auto;

  & input {
    border-radius: 5px;
    outline: none;
    font-weight: 500;
    color: #49866d;
    background-color: #d9ffeb;
    padding: 0 15px;
    outline: none;
    border: 1px solid #49866d;
    transition: 0.1s all ease-in-out;

    &:focus {
      border: 3px solid #49866d;
    }
  }

  & button {
    height: $max;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    padding: 0;
    border: none;
    cursor: pointer;

    &:focus {
      outline: 1px solid #49866d;
    }
  }

  & .add-icon {
    width: $max;
    height: $max;
  }
}
