$max: 100%;

@media (max-width: 8000px) {
	.modal__content {
		height: 530px;
		width: 450px;
	}

	.main__text {
		height: 460px;
	}

	.button-theme {
		height: 40px;
		width: 150px;
		font-size: 18px;
	}

	.title__text {
		font-size: 25px;
	}

	.text {
		font-size: 20px;
	}
}

@media (max-width: 420px) {
	.modal__content {
		height: 600px;
		width: 350px;
	}

	.main__text {
		height: 530px;
	}

	.button-theme {
		height: 40px;
		width: 150px;
		font-size: 18px;
	}

	.title__text {
		font-size: 25px;
	}

	.text {
		font-size: 20px;
	}
}

@media (max-width: 300px) {
	.modal__content {
		width: 260px;
		height: 500px;
	}

	.main__text {
		height: 430px;
	}

	.button-theme {
		height: 30px;
		width: 120px;
		font-size: 13px;
	}

	.title__text {
		font-size: 20px;
	}

	.text {
		font-size: 12px;
	}
}

.modal {
	padding: 0 10px;
	position: fixed;
	top: 0;
	left: 0;
	height: $max;
	width: $max;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s all ease-in-out;
	background-color: rgb(0, 0, 0, .3);
	opacity: 0;
	pointer-events: none;

	&__content {
		padding: 5px;
		border-radius: 10px;
		color: #49866d;
		background-color: #d9ffeb;
		transform: scale(0);
		transition: .3s all ease-in-out;
		position: absolute;

		b {
			font-weight: 400;
			text-decoration: underline;
		}

		.close {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			& button {
				border: none;
				background: transparent;
				cursor: pointer;
				height: 32px;
				transition: .1s all ease-in-out;
				border-radius: 5px;
				transition: .2s all ease-in-out;

				img {
					width: $max;
					height: $max;
				}

				&:hover {
					transform: scale(0.9);
				}
			}
		}

		.title {
			width: $max;
			height: 35px;
			display: flex;
			justify-content: center;
			align-items: center;

			&__text {
				font-weight: 400;
			}
		}

		.main__text {
			width: $max;

			&__content {
				height: $max;
				width: $max;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				padding: 20px;

				.button-theme {
					border-radius: 3px 8px 3px 8px;
					border: none;
					cursor: pointer;
					font-weight: 500;
					transition: 0.2s all ease-in-out;

					&:hover {
						transform: scale(0.98);
					}
				}

				.block__bottom {
					width: $max;
					height: 40px;
					display: flex;
					justify-content: space-evenly;
					align-items: center;

					.modal__img {
						width: 10%;
					}
				}

				.text {
					font-weight: 300;
					text-align: justify;
					line-height: 30px;
				}

				.text__attention {
					font-weight: 400;
				}
			}
		}
	}
}