* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: JetBrains Mono Thin;
}

body,
html {
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 10px; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: #a4ffd2; /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: #282828; /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
  border: 1px solid #a4ffd2; /* отступ вокруг бегунка */
}

#root {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
